#header{
    font-size: 2em;
    background-color: #34bbfc;
    border-bottom: 5px solid #337ab7;
    padding:5px;
    display:flex;
    justify-content:space-between;
      align-items: center;
       
}
.fa{
	margin-right:5px;
}

.controlSection{
    padding-left:2px;
    margin-left:15px;
}
.controlSection a{
	min-width:100px;
}
.controlSectionSeparator{
	margin-left:90px;
}
.controlSectionStart{
    margin-left:20px;
}
#title{
    font-size:0.8em;
    padding:5px;
}

#icon{
/*     width:96px; */
    height:48px;
    padding:0px;
    margin:0px;
    padding:4px 20px;
    
}

.simulatorState{
/* 	pointer-events: none; */
	pointer-events: auto; 
	margin-left:20px;

}
#help{
	margin-left:auto;
	margin-right:20px;
}

#help .fa{
    margin-right:0px;
}
#help h4{
    font-size: 1em;
}
#help p{
	font-size: 0.5em;
}

.modal-backdrop {
/*    background-color: red; */
}
body.modal-open .modal {
    display: flex !important;
    height: 100%;
} 

body.modal-open .modal .modal-dialog {
    margin: auto;
}
