
#pagewrap{
	height:100vh;
	min-height:100vh;
	display: -webkit-flex; 
    display: flex;
    flex-flow: column;
    font-family: 'Fira Sans',sans-serif;
}

#main{
  flex: 1 1 auto;
  display: -webkit-flex; 
  display: flex;
  -webkit-justify-content: space-around; 
  justify-content:         space-around;
  -webkit-align-items: stretch; 
  align-items:         stretch;
  text-align:center;    
  flex-shrink:0;  
  width:100%;
  box-sizing: content-box;
}

#mainboard{
	flex: 0 0 60%;
	border-left: 5px solid #337ab7;
}

#editor{
	flex: 0 0 40%;
	flex-shrink:0;
	display: flex;                      /* new; nested flex container */
    flex: 1;
}

#mainboard,#editor{
	box-sizing: border-box;
	overflow-y:auto;  
}

#main{
    background-color: #337ab7;
}
#editor{
    border-top-right-radius:10px;
}
#mainboard{
    border-top-left-radius:10px;
    background-color: #272822;
    background-image: url(../img/mainboard/circuits.svg);
    background-repeat: repeat;
}



.flexcolumns{
    display: -webkit-flex; 
    display: flex;
    -webkit-justify-content:center; /* Safari */
    justify-content:center;
    -webkit-align-items: stretch; /* Safari */
  align-items:         stretch; 
   align-items: center;
}

.flexrows{
    display: -webkit-flex; 
    display: flex;
    flex-flow: column;
}
