#tutorial{
/* 	background-color:#272822; */
	background-color: #212121;
	box-shadow: 0px 0px 1px 2px #444444;
	margin:5px 10px;
	color:white;
	border-radius:10px;
	padding-top:0px;	

	height:50%;
	overflow-y:auto;
    display: flex;
    flex-direction:column;
    text-align:center;
}

#tutorialContent{
	
	margin:10px;
	padding:10px;
	margin-bottom: auto;
	
}
#tutorialTitle{
}
#tutorialStepTitle{
}
#tutorial h3{
	display:flex;
	justify-content: space-between;
	margin:0px;
	margin-top:10px;
	
}

#tutorialCount{
	margin:0px 15px;
}
#tutorialControls{
	text-align:center;
	margin:0px;
	margin-bottom: 10px;
}