#tutorial{
/* 	background-color:#272822; */
	background-color: #212121;
	box-shadow: 0px 0px 1px 2px #444444;
	margin:5px 10px;
	color:white;
	border-radius:10px;
	padding-top:0px;	

	height:50%;
	overflow-y:auto;
    
    display: flex;
    align-items: center;
/*     justify-content: center; */
/*     justify-content: space-between; */
      
    flex-direction:column;
    text-align:center;
     
}

#tutorialControls{
	display: flex;
	
	
	margin:0px;
	margin-top: 10px;
	width:100%;
}


#tutorialControlsInner{
	display: flex;
	align-items: center;
	   justify-content: center;
	margin:0px;
	margin-top: 10px;
	width:100%;
	align-self:flex-end;
}

#tutorialHeader{
	  align-self: flex-start;
	  width:100%;
	  display: flex;
	  flex-direction:column;
	  
}
#tutorialContent{
	align-self: stretch;
	
	width:100%;
	margin:5px;
	padding:5px;
	
	
}
#tutorialTitle{
	align-self:flex-start;
	margin-left:10px;
}
#tutorialStepTitle{
	margin-right:10px;
}
#tutorial h3{
	display:flex;
	justify-content: center;
	margin:0px;
	margin-top:5px;
	
}

#tutorialCount{
	margin:0px 15px;
}
