

#mainboard{
    padding:10px 20px;
	background-image: url("img/circuit_tile20.png");
	background-repeat: repeat;

	
	display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction:column;
   
  -webkit-justify-content: flex-start; /* Safari */
  justify-content:         flex-start;
  
/*   -webkit-align-items: stretch; Safari */
/*   align-items:         stretch; */
}
#controls{
  flex: 0 1 auto;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-between; 
  justify-content:         space-between;
/*   -webkit-align-items: stretch; */
/*   align-items:         stretch; */
/*   background-color: #A9E3FF; */
  padding:5px;
  border-radius:5px; 
  width:100%;   
}
.controlSection{
	margin: 0px 10px;
}
#controls img{
	height:24px;
}
#resetButton{
	
}

#devices{
  flex: 1 1 auto;
  display: -webkit-flex; /* Safari */
  display: flex;
  
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
  
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  
}

#cpu {
    background-color: #A9E3FF;
    max-height:600px;
}
.registersIcon{
	height:24px;
	width:24px;
	padding-right: 5px;
}
#cpuicon, #memoryicon, #iomemoryicon,#devicesicon{
	height:32px;
	width:32px;
	padding-right: 0.3em;
}

#cpu, .memory{
    padding:20px 20px;
    margin:10px 10px;
    border-radius: 10px;
    overflow-y:auto;
}

.memory {
/*  background: #aaddaa; */
    background-color:#A9E3FF;
    max-height:500px;
    padding-bottom: 50px;
}

#console{
    overflow-y:scroll;
    background-color: #A9E3FF;
    border-radius: 25px;
}


.memoryTable table,.registerTable table{
	margin:10px;
    padding: 5px;
    border: solid thin; 
    border-collapse: collapse; 
    font-family: 'monospace';
}
.memoryTable table{
	table-layout: fixed;
}
.memoryTable{
    height:100%;
    overflow-y:scroll;
           
}

.bitTable{
	display:inline-block;
}
.bitTable td, .bitTable th{
  border: 1px solid black;
  padding:1px;
  
}
.registerTable td, .registerTable th,.memoryTable td, .memoryTable th {
  border: 1px solid black;
}

.memoryTable td, .memoryTable th {
  padding:1px;
}


.registerTable td, .registerTable th{
  padding:3px;
}
.registerTable{
	padding:1px;
    margin: 4px auto;
}
.cpuElement{
	border-radius:5px;
	border:1px solid;
	padding: 4px;
	margin: 4px;
	text-align: center;
}

.flag{
	border:1px solid;
	margin:1px;
}
.operation{
	border:1px solid;
	margin:1px;
}