/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
/*
Palette:
http://paletton.com/#uid=73s2w0kqIZYbi++hH++8R++Ht++ 
 
 */

#pagewrap{
	height:100vh;
	min-height:100vh;
	display: -webkit-flex; 
    display: flex;
    flex-flow: column;
    font-family: 'LatoWeb',sans-serif;
}

.flexcolumns{
	display: -webkit-flex; 
    display: flex;
    -webkit-justify-content:center; /* Safari */
    justify-content:center;
    -webkit-align-items: stretch; /* Safari */
  align-items:         stretch; 
   align-items: center;
}

.flexrows{
    display: -webkit-flex; 
    display: flex;
    flex-flow: column;
}

#header{
	flex: 0 1 auto;
    
    text-align: Left;
    font-size: 2em;
    background-color: #34bbfc;
    box-shadow: 20px 20px 5px #000000;
/*  border-bottom: 8px #34bbfc solid; */
    
    
    display: -webkit-flex; /* Safari */
	display: flex;
  -webkit-justify-content: start; /* Safari */
  justify-content:         start;
  -webkit-align-items: stretch; /* Safari */
  align-items:         stretch; 
   align-items: center;
   
}

#title{
    font-size:0.8em;
    padding:5px;
}

#icon{
    width:48px;
/*     height:64px; */
    padding:0px;
    margin:0px;
    padding:4px 20px;
    
}
h2{
    font-size: 1.15em;
    margin-bottom: 10px;
}
h3{
    font-size: 1.05em;
    margin-bottom: 10px;
}


#main{
  flex: 1 1 auto;
  display: -webkit-flex; 
  display: flex;
  -webkit-justify-content: space-around; 
  justify-content:         space-around;
  -webkit-align-items: stretch; 
  align-items:         stretch;
  text-align:center;    
  flex-shrink:0;  
  width:100%;
  box-sizing: content-box;
}
#mainboard{
	flex: 0 0 60%;
}

#editor{
	flex: 0 0 40%;
	flex-shrink:0;
	display: flex;                      /* new; nested flex container */
    flex: 1;
    overflow-y:auto;
}	
#mainboard,#editor{
	  box-sizing: border-box;
	  overflow-y:auto;
}
