@import url('https://fonts.googleapis.com/css?family=Lato');
/*
Palette:
http://paletton.com/#uid=73s2w0kqIZYbi++hH++8R++Ht++ 
 
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body { 
  
}

#pagewrap{
	height:100vh;
	display: -webkit-flex; 
    display: flex;
    flex-flow: column;
    font-family: 'Lato',sans-serif;
}

.flexcolumns{
	display: -webkit-flex; 
    display: flex;
    -webkit-justify-content:center; /* Safari */
    justify-content:center;
    -webkit-align-items: stretch; /* Safari */
  align-items:         stretch; 
   align-items: center;
}

.flexrows{
    display: -webkit-flex; 
    display: flex;
    flex-flow: column;
}

header{
	flex: 0 1 auto;
    
    text-align: Left;
    font-size: 3em;
    background-color: #34bbfc;
/*  border-bottom: 8px #34bbfc solid; */
    
    padding:10px;
    display: -webkit-flex; /* Safari */
	display: flex;
  -webkit-justify-content: start; /* Safari */
  justify-content:         start;
  -webkit-align-items: stretch; /* Safari */
  align-items:         stretch; 
   align-items: center;
}


#main{
  flex: 1 1 auto;
  display: -webkit-flex; 
  display: flex;
  -webkit-justify-content: space-around; 
  justify-content:         space-around;
  -webkit-align-items: stretch; 
  align-items:         stretch;
  text-align:center;    
  
  width:100%;
  box-sizing: content-box;
}
#mainboard{
	flex: 0 0 60%;
}

#editor{
	flex: 0 0 40%;
}	
#mainboard,#editor{
	  box-sizing: border-box;
	  overflow-y:auto;
}

#editor {
    background:gray;
    color:black;   
    height:100%;
}
.ace_editor{
	height:100%;
}
#aceEditor{
    
    padding: 5px;
    font-family: 'monospace';
    box-sizing: border-box;
    width : 100%;
    height:100%;
}

#mainboard{
    padding:10px 20px;
	background-image: url("img/circuit_tile20.png");
	background-repeat: repeat;

	
	display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction:column;
   
  -webkit-justify-content: flex-start; /* Safari */
  justify-content:         flex-start;
  
/*   -webkit-align-items: stretch; Safari */
/*   align-items:         stretch; */
}
#controls{
  flex: 0 1 auto;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-justify-content: space-between; 
  justify-content:         space-between;
/*   -webkit-align-items: stretch; */
/*   align-items:         stretch; */
/*   background-color: #A9E3FF; */
  padding:5px;
  border-radius:5px; 
  width:100%;   
}
.controlSection{
	margin: 0px 10px;
}
#controls img{
	height:32px;
}
#resetButton{
	
}

#devices{
  flex: 1 1 auto;
  display: -webkit-flex; /* Safari */
  display: flex;
  
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
  
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  
}

#cpu {
    background-color: #A9E3FF;
    max-height:500px;
}

#cpuicon, #memoryicon, #iomemoryicon,#devicesicon{
	height:32px;
	width:32px;
	padding-right: 0.3em;
}

#cpu, .memory{
    padding:20px 20px;
    margin:10px 10px;
    border-radius: 10px;
}

.memory {
/*  background: #aaddaa; */
    background-color:#A9E3FF;
    max-height:500px;
    padding-bottom: 50px;
}

#console{
    overflow-y:scroll;
    background-color: #A9E3FF;
    border-radius: 25px;
}


.memoryTable table,.registerTable table{
	margin:10px;
    padding: 5px;
    border: solid thin; 
    border-collapse: collapse; 
    font-family: 'monospace';
}
.memoryTable{
    height:100%;
    overflow-y:scroll;       
}

.bitTable{
	display:inline-block;
}
.bitTable td, .bitTable th{
  border: 1px solid black;
  padding:1px;
  
}
.registerTable td, .registerTable th,.memoryTable td, .memoryTable th {
  border: 1px solid black;
}
.registerTable{
	padding:1px;
    margin: 4px auto;
}
.cpuElement{
	border-radius:5px;
	border:1px solid;
	padding: 4px;
	margin: 4px;
	text-align: center;
}

#title{
    font-size:0.8em;
}

#icon{
    width:64px;
/*     height:64px; */
    padding-right: 20px;
}
h2{
    font-size: 1.25em;
    margin-bottom: 10px;
}
h3{
    font-size: 1.125em;
    margin-bottom: 10px;
}